<title>mamacocoお問い合わせ通知</title>

<p>
mamacocoへお問い合わせがありました。<br>
--------------------------<br>
Name: <%= @contact.name %><br>
Email: <%= @contact.email %><br>
Message:<br>
<%= @contact.message %><br>
--------------------------
</p>
